# Notion Integration Token & Database ID
NOTION_TOKEN=ntn_your_secret_token_here
NOTION_DATABASE_ID=your_database_id_here

# Fanpage 1: GMFinance - Đào Tạo & Coaching ACCA (https://www.facebook.com/financegm/)
FB_PAGE_1_ID=your_page_1_id_here
FB_PAGE_1_TOKEN=your_page_1_access_token_here

# Fanpage 2: Giải Pháp Tài Chính & Kế Toán Việt Nam (https://www.facebook.com/giaiphaptaichinhvaketoanVietnam/)
FB_PAGE_2_ID=your_page_2_id_here
FB_PAGE_2_TOKEN=your_page_2_access_token_here
